In [1]:
import pandas as pd
import numpy as np
titanic_df = pd.read_csv(
    "https://raw.githubusercontent.com/dlsun/data-science-book/master/data/titanic.csv"
)

titanic_df = titanic_df.drop("name", axis=1)
titanic_df = titanic_df.drop("ticket", axis=1)

# filling missing data
titanic_df["age"] = titanic_df["age"].fillna(value=titanic_df["age"].mean())



# catagorical to quantitative
catagorical_to_quantitative_maps = {}

# gender
catagorical_to_quantitative_maps["sex"] = list(titanic_df["sex"].unique())
gender_catagories = pd.DataFrame(pd.get_dummies(titanic_df["sex"]))
titanic_df = titanic_df.drop("sex", axis = 1)
titanic_df= pd.concat([titanic_df, gender_catagories], axis = 1)
   
# boat
titanic_df["boat"] = titanic_df["boat"].fillna(value="No boat")
catagorical_to_quantitative_maps["boat"] = list(titanic_df["boat"].unique())
boat_catagories = pd.DataFrame(pd.get_dummies(titanic_df["boat"]))
titanic_df = titanic_df.drop("boat", axis = 1)
titanic_df = pd.concat([titanic_df, boat_catagories], axis = 1)
# adjust a few columns to aviod running into problems when creating a column with the same name
# will need to consider this when going backwards
titanic_df["boat C"] = titanic_df["C"]
titanic_df = titanic_df.drop("C", axis=1)
catagorical_to_quantitative_maps["boat"].append("boat C")
catagorical_to_quantitative_maps["boat"].remove("C")
titanic_df["boat D"] = titanic_df["D"]
titanic_df = titanic_df.drop("D", axis=1)
catagorical_to_quantitative_maps["boat"].append("boat D")
catagorical_to_quantitative_maps["boat"].remove("D")

#cabin
catagorical_to_quantitative_maps["cabin"] = list(titanic_df["cabin"].unique())
cabins = pd.DataFrame(pd.get_dummies(titanic_df["cabin"]))
titanic_df = titanic_df.drop("cabin", axis = 1)
titanic_df = pd.concat([titanic_df, cabins], axis = 1)

#embarked
titanic_df["embarked"] = titanic_df["embarked"].fillna(value="entrance unknown")
catagorical_to_quantitative_maps["embarked"] = list(titanic_df["embarked"].unique())
entrances = pd.DataFrame(pd.get_dummies(titanic_df["embarked"]))
titanic_df = titanic_df.drop("embarked", axis = 1)
titanic_df = pd.concat([titanic_df, entrances], axis = 1)


#body
titanic_df["body"] = titanic_df["body"].fillna(value="body unknown")
catagorical_to_quantitative_maps["body"] = list(titanic_df["body"].unique())
bodies = pd.DataFrame(pd.get_dummies(titanic_df["body"]))
titanic_df = titanic_df.drop("body", axis = 1)
titanic_df = pd.concat([titanic_df, bodies], axis = 1)

#home.dest
titanic_df["home.dest"] = titanic_df["home.dest"].fillna(value="home.dest unknown")
catagorical_to_quantitative_maps["home.dest"] = list(titanic_df["home.dest"].unique())
destinations = pd.DataFrame(pd.get_dummies(titanic_df["home.dest"]))
titanic_df = titanic_df.drop("home.dest", axis = 1)
titanic_df = pd.concat([titanic_df, destinations], axis = 1)


print(titanic_df.shape)
display(titanic_df)

for col in titanic_df.columns:
    for val in titanic_df[col]:
        if type(val) != int and type(val) != float:
            print(col)
            print(val)
            print("\n")

type(titanic_df.sum().sum())

(1309, 718)

,pclass,survived,age,sibsp,parch,fare,female,male,1,10,...,"Windsor, England New York, NY","Winnipeg, MB","Winnipeg, MN","Woodford County, KY","Worcester, England","Worcester, MA","Yoevil, England / Cottage Grove, OR","Youngstown, OH","Zurich, Switzerland",home.dest unknown
0,1,1,29.000000,0,0,211.3375,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0.916700,1,2,151.5500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,2.000000,1,2,151.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,30.000000,1,2,151.5500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,25.000000,1,2,151.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,14.500000,1,0,14.4542,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1305,3,0,29.881135,1,0,14.4542,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1306,3,0,26.500000,0,0,7.2250,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1307,3,0,27.000000,0,0,7.2250,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1308,3,0,29.000000,0,0,7.8750,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

numpy.float64

In [28]:
from sklearn import datasets
synth_data, labels = sklearn.datasets.make_classification(n_samples=10, n_features=90, n_informative=3, n_classes=3)

y = pd.DataFrame(labels, columns = ["class"])
X = pd.DataFrame(synth_data)

pd.concat([X, y], axis=1)

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,class
0,-1.865439,-1.430349,-0.486095,-0.333458,-0.429905,-1.728168,0.790986,0.798494,1.865933,0.565747,...,-3.954412,-2.121397,0.708925,0.035640,0.483205,-0.300622,0.874504,0.385618,1.216262,0
1,1.411692,-1.007896,0.787108,0.515071,0.592313,1.315900,-0.626796,-0.241852,0.906722,2.456161,...,-1.992597,0.227956,1.900124,0.177729,-0.081294,0.566001,-1.072193,0.260155,-0.666211,2
2,0.710769,0.295436,1.001872,-1.804504,0.480380,-0.061808,-2.094390,-0.402166,-0.165676,-1.286132,...,0.820177,0.096350,0.011107,-0.418748,0.530688,-0.081139,0.870402,-0.308831,0.883266,2
3,0.636301,1.062307,-0.357164,1.862646,1.310595,0.223929,0.032485,-2.028922,-1.666837,1.198563,...,1.482653,0.097254,-1.612519,-0.375469,-0.348606,0.524640,1.036165,1.027925,0.033928,1
4,0.152665,-1.358316,1.238912,0.761399,-1.905820,-0.368628,-0.235252,-0.622465,1.174535,1.532281,...,-1.652034,-1.788383,1.352301,0.972165,-0.867590,0.814458,1.758509,1.126828,-0.168986,0
5,0.820886,0.272026,0.404719,-0.737558,-1.950552,-1.021049,1.783439,-0.912873,-0.114592,1.426635,...,0.102441,-0.840427,0.047288,1.854211,-1.191838,-2.224166,0.442833,0.216458,-0.802287,1
6,0.031604,0.339148,2.379959,-0.238243,-0.255743,0.842437,0.079778,0.350799,-0.140153,0.452263,...,0.935123,-0.266135,1.748593,0.199464,-0.139232,2.461623,0.230858,0.919448,-1.348528,2
7,0.583644,0.488725,-0.301379,2.333956,-0.095640,1.227356,2.122670,-0.181373,-0.492694,0.740997,...,1.039905,-0.271787,-2.240633,-0.319306,0.111151,1.220276,-0.379363,-1.182080,-0.877748,1
8,-0.748925,1.418959,1.071739,0.855248,0.659334,-0.439423,0.377995,-1.396453,0.466474,-0.951718,...,-1.107092,-0.072969,0.214470,-0.486532,-0.825296,-0.185629,-0.794210,0.962688,0.722062,0
9,1.575275,0.444026,0.420031,1.175099,0.567820,-0.170059,1.354447,-2.134937,1.515580,0.706500,...,-2.030831,1.026984,0.269563,0.873941,-1.622664,-0.696239,-0.074467,2.304069,0.634796,0