In [39]:
import pandas as pd
import numpy as np
titanic_df = pd.read_csv(
    "https://raw.githubusercontent.com/dlsun/data-science-book/master/data/titanic.csv"
)
titanic_df = titanic_df.drop("name", axis=1)
# catagorical to quantitative
catagorical_to_quantitative_maps = {}

# gender
catagorical_to_quantitative_maps["sex"] = list(titanic_df["sex"].unique())
gender_catagories = pd.DataFrame(pd.get_dummies(titanic_df["sex"]))
titanic_df = titanic_df.drop("sex", axis = 1)
titanic_df= pd.concat([titanic_df, gender_catagories], axis = 1)
   
# boat
titanic_df["boat"] = titanic_df["boat"].fillna(value="No boat")
catagorical_to_quantitative_maps["boat"] = list(titanic_df["boat"].unique())
boat_catagories = pd.DataFrame(pd.get_dummies(titanic_df["boat"]))
titanic_df = titanic_df.drop("boat", axis = 1)
titanic_df = pd.concat([titanic_df, boat_catagories], axis = 1)

# ticket (idea 1)
numeric_tickets = []
ticket_letters = {}
for ticket in titanic_df["ticket"]:
    # if the ticket contains non-numeric characters
    if not ticket.isdigit():
        # store letters as value with number as key (all tickets have a unique number)
        if len(ticket.split(" ")) > 1:
            ticket_letters[ticket.split(" ")[-1]] = ticket.split(" ")[:-1]
            ticket = (ticket.split(" ")[-1])
        else:
            # there is one ticket that just says "LINE" whatever that means
            ticket_letters[0] = ticket
            ticket = 0
    numeric_tickets.append(int(ticket))
titanic_df = titanic_df.drop("ticket", axis=1)
titanic_df = pd.concat([titanic_df, pd.DataFrame({"ticket": numeric_tickets})], axis = 1)

# ticket (idea 2)
# catagorical_to_quantitative_maps["ticket"] = list(titainc_df["ticket"])
# tickets = pd.DataFrame(pd.get_dummies(titanic_df["ticket"]))
# titanic_df = titanic_df.drop("ticket", axis = 1)
# titanic_df = pd.concat([titanic_df, tickets], axis = 1)

#cabin
catagorical_to_quantitative_maps["cabin"] = list(titanic_df["cabin"].unique())
cabins = pd.DataFrame(pd.get_dummies(titanic_df["cabin"]))
titanic_df = titanic_df.drop("cabin", axis = 1)
titanic_df = pd.concat([titanic_df, cabins], axis = 1)

#embarked
titanic_df["embarked"] = titanic_df["embarked"].fillna(value="entrance unknown")
catagorical_to_quantitative_maps["embarked"] = list(titanic_df["embarked"].unique())
entrances = pd.DataFrame(pd.get_dummies(titanic_df["embarked"]))
titanic_df = titanic_df.drop("embarked", axis = 1)
titanic_df = pd.concat([titanic_df, entrances], axis = 1)


#body
titanic_df["body"] = titanic_df["body"].fillna(value="body unknown")
catagorical_to_quantitative_maps["body"] = list(titanic_df["body"].unique())
bodies = pd.DataFrame(pd.get_dummies(titanic_df["body"]))
titanic_df = titanic_df.drop("body", axis = 1)
titanic_df = pd.concat([titanic_df, bodies], axis = 1)

#home.dest
catagorical_to_quantitative_maps["home.dest"] = list(titanic_df["home.dest"].unique())
destinations = pd.DataFrame(pd.get_dummies(titanic_df["home.dest"]))
titanic_df = titanic_df.drop("home.dest", axis = 1)
titanic_df = pd.concat([titanic_df, destinations], axis = 1)

# #name
# catagorical_to_quantitative_maps["name"] = list(titanic_df["name"].unique())
# names = pd.DataFrame(pd.get_dummies(titanic_df["name"]))
# titanic_df = titanic_df.drop("name", axis = 1)
# titanic_df = pd.concat([titanic_df, names], axis = 1)

print(titanic_df.shape)

# display(titanic_df)
# titanic_df.shape

for col in titanic_df.columns:
    for val in titanic_df[col]:
        if type(val) != int and type(val) != float:
            print("column: ", col)
            print(val)
            print("type: ", type(val))
        break
#     for element in titanic_df[col].unique():
#         if type(element) == str:
#             print("column: ", col)
#             print("element: ", element)
#             print("type: ", type(element))
#             break
#titanic_df
titanic_df.columns

(1309, 718)
column:  C
C
type:  <class 'str'>
column:  D
D
type:  <class 'str'>
column:  D
D
type:  <class 'str'>
column:  C
C
type:  <class 'str'>

Index([                                        'pclass',
                                             'survived',
                                                  'age',
                                                'sibsp',
                                                'parch',
                                                 'fare',
                                               'female',
                                                 'male',
                                                    '1',
                                                   '10',
       ...
       'Wimbledon Park, London / Hayling Island, Hants',
                        'Windsor, England New York, NY',
                                         'Winnipeg, MB',
                                         'Winnipeg, MN',
                                  'Woodford County, KY',
                                   'Worcester, England',
                                        'Worcester, MA',
                  'Yoevil, England / Cottage Grove, OR',
                                       'Youngstown, OH',
                                  'Zurich, Switzerland'],
      dtype='object', length=718)