In [3]:
import pandas as pd
import numpy as np
titanic_df = pd.read_csv(
    "https://raw.githubusercontent.com/dlsun/data-science-book/master/data/titanic.csv"
)

titanic_df = titanic_df.drop("name", axis=1)
titanic_df = titanic_df.drop("ticket", axis=1)

# filling missing data
titanic_df["age"] = titanic_df["age"].fillna(value=titanic_df["age"].mean())



# catagorical to quantitative
catagorical_to_quantitative_maps = {}

# gender
catagorical_to_quantitative_maps["sex"] = list(titanic_df["sex"].unique())
gender_catagories = pd.DataFrame(pd.get_dummies(titanic_df["sex"]))
titanic_df = titanic_df.drop("sex", axis = 1)
titanic_df= pd.concat([titanic_df, gender_catagories], axis = 1)
   
# boat
titanic_df["boat"] = titanic_df["boat"].fillna(value="No boat")
catagorical_to_quantitative_maps["boat"] = list(titanic_df["boat"].unique())
boat_catagories = pd.DataFrame(pd.get_dummies(titanic_df["boat"]))
titanic_df = titanic_df.drop("boat", axis = 1)
titanic_df = pd.concat([titanic_df, boat_catagories], axis = 1)
# adjust a few columns to aviod running into problems when creating a column with the same name
# will need to consider this when going backwards
titanic_df["boat C"] = titanic_df["C"]
titanic_df = titanic_df.drop("C", axis=1)
catagorical_to_quantitative_maps["boat"].append("boat C")
catagorical_to_quantitative_maps["boat"].remove("C")
titanic_df["boat D"] = titanic_df["D"]
titanic_df = titanic_df.drop("D", axis=1)
catagorical_to_quantitative_maps["boat"].append("boat D")
catagorical_to_quantitative_maps["boat"].remove("D")

#cabin
catagorical_to_quantitative_maps["cabin"] = list(titanic_df["cabin"].unique())
cabins = pd.DataFrame(pd.get_dummies(titanic_df["cabin"]))
titanic_df = titanic_df.drop("cabin", axis = 1)
titanic_df = pd.concat([titanic_df, cabins], axis = 1)

#embarked
titanic_df["embarked"] = titanic_df["embarked"].fillna(value="entrance unknown")
catagorical_to_quantitative_maps["embarked"] = list(titanic_df["embarked"].unique())
entrances = pd.DataFrame(pd.get_dummies(titanic_df["embarked"]))
titanic_df = titanic_df.drop("embarked", axis = 1)
titanic_df = pd.concat([titanic_df, entrances], axis = 1)


#body
titanic_df["body"] = titanic_df["body"].fillna(value="body unknown")
catagorical_to_quantitative_maps["body"] = list(titanic_df["body"].unique())
bodies = pd.DataFrame(pd.get_dummies(titanic_df["body"]))
titanic_df = titanic_df.drop("body", axis = 1)
titanic_df = pd.concat([titanic_df, bodies], axis = 1)

#home.dest
titanic_df["home.dest"] = titanic_df["home.dest"].fillna(value="home.dest unknown")
catagorical_to_quantitative_maps["home.dest"] = list(titanic_df["home.dest"].unique())
destinations = pd.DataFrame(pd.get_dummies(titanic_df["home.dest"]))
titanic_df = titanic_df.drop("home.dest", axis = 1)
titanic_df = pd.concat([titanic_df, destinations], axis = 1)


print(titanic_df.shape)
display(titanic_df)

for col in titanic_df.columns:
    for val in titanic_df[col]:
        if type(val) != int and type(val) != float:
            print(col)
            print(val)
            print("\n")

type(titanic_df.sum().sum())

(1309, 718)

,pclass,survived,age,sibsp,parch,fare,female,male,1,10,...,"Windsor, England New York, NY","Winnipeg, MB","Winnipeg, MN","Woodford County, KY","Worcester, England","Worcester, MA","Yoevil, England / Cottage Grove, OR","Youngstown, OH","Zurich, Switzerland",home.dest unknown
0,1,1,29.000000,0,0,211.3375,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0.916700,1,2,151.5500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,2.000000,1,2,151.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,30.000000,1,2,151.5500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,25.000000,1,2,151.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,14.500000,1,0,14.4542,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1305,3,0,29.881135,1,0,14.4542,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1306,3,0,26.500000,0,0,7.2250,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1307,3,0,27.000000,0,0,7.2250,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1308,3,0,29.000000,0,0,7.8750,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

numpy.float64

In [104]:
import sklearn 
from sklearn import datasets
n_features=100
synth_data, labels = sklearn.datasets.make_classification(n_samples=100, n_features=1000, n_informative=3, n_classes=3)
y = pd.DataFrame(labels, columns = ["class"])
X = pd.DataFrame(synth_data)

Xy = abs(pd.concat([X, y], axis=1))

#display(Xy)

In [111]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.decomposition import NMF
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test = train_test_split(X, y)
# Using test data because that is what Linear_Regression will use in prediction
Xy = abs(pd.concat([X_test, y_test], axis=1))
nmf_model = NMF(n_components=2)
W = nmf_model.fit_transform(Xy)
H = nmf_model.components_
nmf_preds = pd.DataFrame(W @ H)
# getting the "y" column from the NMF prediction
nmf_y_preds = list(nmf_preds[n_features])


reg_model = LinearRegression().fit(X_train, y_train)
reg_y_preds = reg_model.predict(X_test)
# just pulling the values out since linear regression returns a list of lists
reg_y_preds = [_[0] for _ in reg_y_preds]
nmf_errors = []
reg_errors = []

y_test = list(y_test["class"])

# getting error
for i in range(len(reg_y_preds)):
    reg_errors.append((y_test[i] - reg_y_preds[i]) ** 2)
    nmf_errors.append((y_test[i] - nmf_y_preds[i]) ** 2)

print("nmf", np.mean(nmf_errors))
print("reg", np.mean(reg_errors))

nmf 0.9803111852183711
reg 0.7940561403538158

In [112]:
# A = pd.DataFrame(np.array([[1, 2, 3,], [4, 5, 6], [7, 8, 9], [0, 1, 0]]))
# A. columns = ["a", "b", "c"]
# from sklearn.decomposition import NMF
# y = A["c"]
# X = A.drop("c", axis=1)
# nmf_model = NMF()

# W = nmf_model.fit_transform(A)
# H = nmf_model.components_

# X_train, X_test, y_train, y_test = train_test_split(X, y)
# reg_model = LinearRegression().fit(X_train, y_train)

# display(A)
# preds = reg_model.predict(X_test)