In [45]:
import pandas as pd
import numpy as np
titanic_df = pd.read_csv(
    "https://raw.githubusercontent.com/dlsun/data-science-book/master/data/titanic.csv"
)

titanic_df = titanic_df.drop("name", axis=1)
titanic_df = titanic_df.drop("ticket", axis=1)

# filling missing data
titanic_df["age"] = titanic_df["age"].fillna(value=titanic_df["age"].mean())



# catagorical to quantitative
catagorical_to_quantitative_maps = {}

# gender
catagorical_to_quantitative_maps["sex"] = list(titanic_df["sex"].unique())
gender_catagories = pd.DataFrame(pd.get_dummies(titanic_df["sex"]))
titanic_df = titanic_df.drop("sex", axis = 1)
titanic_df= pd.concat([titanic_df, gender_catagories], axis = 1)
   
# boat
titanic_df["boat"] = titanic_df["boat"].fillna(value="No boat")
catagorical_to_quantitative_maps["boat"] = list(titanic_df["boat"].unique())
boat_catagories = pd.DataFrame(pd.get_dummies(titanic_df["boat"]))
titanic_df = titanic_df.drop("boat", axis = 1)
titanic_df = pd.concat([titanic_df, boat_catagories], axis = 1)
titanic_df["boat C"] = titanic_df["C"]
titanic_df = titanic_df.drop("C", axis=1)
catagorical_to_quantitative_maps["boat"].append("boat C")
catagorical_to_quantitative_maps["boat"].remove("C")
titanic_df["boat D"] = titanic_df["D"]
titanic_df = titanic_df.drop("D", axis=1)
catagorical_to_quantitative_maps["boat"].append("boat D")
catagorical_to_quantitative_maps["boat"].remove("D")

# # ticket (idea 1)
# numeric_tickets = []
# ticket_letters = {}
# for ticket in titanic_df["ticket"]:
#     # if the ticket contains non-numeric characters
#     if not ticket.isdigit():
#         # store letters as value with number as key (all tickets have a unique number)
#         if len(ticket.split(" ")) > 1:
#             ticket_letters[ticket.split(" ")[-1]] = ticket.split(" ")[:-1]
#             ticket = (ticket.split(" ")[-1])
#         else:
#             # there is one ticket that just says "LINE" whatever that means
#             ticket_letters[0] = ticket
#             ticket = 0
#     numeric_tickets.append(int(ticket))
# titanic_df = titanic_df.drop("ticket", axis=1)
# titanic_df = pd.concat([titanic_df, pd.DataFrame({"ticket": numeric_tickets})], axis = 1)

# ticket (idea 2)
# catagorical_to_quantitative_maps["ticket"] = list(titainc_df["ticket"])
# tickets = pd.DataFrame(pd.get_dummies(titanic_df["ticket"]))
# titanic_df = titanic_df.drop("ticket", axis = 1)
# titanic_df = pd.concat([titanic_df, tickets], axis = 1)

#cabin
catagorical_to_quantitative_maps["cabin"] = list(titanic_df["cabin"].unique())
cabins = pd.DataFrame(pd.get_dummies(titanic_df["cabin"]))
titanic_df = titanic_df.drop("cabin", axis = 1)
titanic_df = pd.concat([titanic_df, cabins], axis = 1)

#embarked
titanic_df["embarked"] = titanic_df["embarked"].fillna(value="entrance unknown")
catagorical_to_quantitative_maps["embarked"] = list(titanic_df["embarked"].unique())
entrances = pd.DataFrame(pd.get_dummies(titanic_df["embarked"]))
titanic_df = titanic_df.drop("embarked", axis = 1)
titanic_df = pd.concat([titanic_df, entrances], axis = 1)


#body
titanic_df["body"] = titanic_df["body"].fillna(value="body unknown")
catagorical_to_quantitative_maps["body"] = list(titanic_df["body"].unique())
bodies = pd.DataFrame(pd.get_dummies(titanic_df["body"]))
titanic_df = titanic_df.drop("body", axis = 1)
titanic_df = pd.concat([titanic_df, bodies], axis = 1)

#home.dest
titanic_df["home.dest"] = titanic_df["home.dest"].fillna(value="home.dest unknown")
catagorical_to_quantitative_maps["home.dest"] = list(titanic_df["home.dest"].unique())
destinations = pd.DataFrame(pd.get_dummies(titanic_df["home.dest"]))
titanic_df = titanic_df.drop("home.dest", axis = 1)
titanic_df = pd.concat([titanic_df, destinations], axis = 1)


print(titanic_df.shape)
display(titanic_df)
# for col in titanic_df.columns:
#     for val in titanic_df[col]:
#         if type(val) != int and type(val) != float:
#             print("column: ", col)
#             print("value: ", val)
#             print("\n")
#             break
for col in titanic_df.columns:
    for val in titanic_df[col]:
        if type(val) != int and type(val) != float:
            print(col)
            print(val)
            print("\n")


# 
# for key in catagorical_to_quantitative_maps:
#     print(key)
#     print(catagorical_to_quantitative_maps[key])

(1309, 718)

,pclass,survived,age,sibsp,parch,fare,female,male,1,10,...,"Windsor, England New York, NY","Winnipeg, MB","Winnipeg, MN","Woodford County, KY","Worcester, England","Worcester, MA","Yoevil, England / Cottage Grove, OR","Youngstown, OH","Zurich, Switzerland",home.dest unknown
0,1,1,29.000000,0,0,211.3375,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0.916700,1,2,151.5500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,2.000000,1,2,151.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,30.000000,1,2,151.5500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,25.000000,1,2,151.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,14.500000,1,0,14.4542,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1305,3,0,29.881135,1,0,14.4542,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1306,3,0,26.500000,0,0,7.2250,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1307,3,0,27.000000,0,0,7.2250,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1308,3,0,29.000000,0,0,7.8750,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [24]:
titanic_df = pd.read_csv(
    "https://raw.githubusercontent.com/dlsun/data-science-book/master/data/titanic.csv"
)

titanic_df["age"].isnull

<bound method Series.isnull of 0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305        NaN
1306    26.5000
1307    27.0000
1308    29.0000
Name: age, Length: 1309, dtype: float64>