In [1]:
import pandas as pd
import numpy as np
titanic_df = pd.read_csv(
    "https://raw.githubusercontent.com/dlsun/data-science-book/master/data/titanic.csv"
)

titanic_df = titanic_df.drop("name", axis=1)
titanic_df = titanic_df.drop("ticket", axis=1)

# filling missing data
titanic_df["age"] = titanic_df["age"].fillna(value=titanic_df["age"].mean())



# catagorical to quantitative
catagorical_to_quantitative_maps = {}

# gender
catagorical_to_quantitative_maps["sex"] = list(titanic_df["sex"].unique())
gender_catagories = pd.DataFrame(pd.get_dummies(titanic_df["sex"]))
titanic_df = titanic_df.drop("sex", axis = 1)
titanic_df= pd.concat([titanic_df, gender_catagories], axis = 1)
   
# boat
titanic_df["boat"] = titanic_df["boat"].fillna(value="No boat")
catagorical_to_quantitative_maps["boat"] = list(titanic_df["boat"].unique())
boat_catagories = pd.DataFrame(pd.get_dummies(titanic_df["boat"]))
titanic_df = titanic_df.drop("boat", axis = 1)
titanic_df = pd.concat([titanic_df, boat_catagories], axis = 1)
# adjust a few columns to aviod running into problems when creating a column with the same name
# will need to consider this when going backwards
titanic_df["boat C"] = titanic_df["C"]
titanic_df = titanic_df.drop("C", axis=1)
catagorical_to_quantitative_maps["boat"].append("boat C")
catagorical_to_quantitative_maps["boat"].remove("C")
titanic_df["boat D"] = titanic_df["D"]
titanic_df = titanic_df.drop("D", axis=1)
catagorical_to_quantitative_maps["boat"].append("boat D")
catagorical_to_quantitative_maps["boat"].remove("D")

#cabin
catagorical_to_quantitative_maps["cabin"] = list(titanic_df["cabin"].unique())
cabins = pd.DataFrame(pd.get_dummies(titanic_df["cabin"]))
titanic_df = titanic_df.drop("cabin", axis = 1)
titanic_df = pd.concat([titanic_df, cabins], axis = 1)

#embarked
titanic_df["embarked"] = titanic_df["embarked"].fillna(value="entrance unknown")
catagorical_to_quantitative_maps["embarked"] = list(titanic_df["embarked"].unique())
entrances = pd.DataFrame(pd.get_dummies(titanic_df["embarked"]))
titanic_df = titanic_df.drop("embarked", axis = 1)
titanic_df = pd.concat([titanic_df, entrances], axis = 1)


#body
titanic_df["body"] = titanic_df["body"].fillna(value="body unknown")
catagorical_to_quantitative_maps["body"] = list(titanic_df["body"].unique())
bodies = pd.DataFrame(pd.get_dummies(titanic_df["body"]))
titanic_df = titanic_df.drop("body", axis = 1)
titanic_df = pd.concat([titanic_df, bodies], axis = 1)

#home.dest
titanic_df["home.dest"] = titanic_df["home.dest"].fillna(value="home.dest unknown")
catagorical_to_quantitative_maps["home.dest"] = list(titanic_df["home.dest"].unique())
destinations = pd.DataFrame(pd.get_dummies(titanic_df["home.dest"]))
titanic_df = titanic_df.drop("home.dest", axis = 1)
titanic_df = pd.concat([titanic_df, destinations], axis = 1)


print(titanic_df.shape)
display(titanic_df)

for col in titanic_df.columns:
    for val in titanic_df[col]:
        if type(val) != int and type(val) != float:
            print(col)
            print(val)
            print("\n")

type(titanic_df.sum().sum())

(1309, 718)

,pclass,survived,age,sibsp,parch,fare,female,male,1,10,...,"Windsor, England New York, NY","Winnipeg, MB","Winnipeg, MN","Woodford County, KY","Worcester, England","Worcester, MA","Yoevil, England / Cottage Grove, OR","Youngstown, OH","Zurich, Switzerland",home.dest unknown
0,1,1,29.000000,0,0,211.3375,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0.916700,1,2,151.5500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,2.000000,1,2,151.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,30.000000,1,2,151.5500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,25.000000,1,2,151.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,14.500000,1,0,14.4542,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1305,3,0,29.881135,1,0,14.4542,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1306,3,0,26.500000,0,0,7.2250,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1307,3,0,27.000000,0,0,7.2250,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1308,3,0,29.000000,0,0,7.8750,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

numpy.float64

For NMF usage, let's make this dataset non-negative

In [2]:
from sklearn.datasets import make_classification
from sklearn.preprocessing import MinMaxScaler

n_features = 1000
signed_synth_data, labels = make_classification(n_samples=100, n_features=n_features, n_informative=3, n_classes=3)

# To Make our data non-negative, we'll scale our data with min-max scaling which puts it into the range of [0, 1]
scaler = MinMaxScaler()
synth_data = scaler.fit_transform(signed_synth_data)

y = pd.DataFrame(labels, columns=["class"]).astype(int)
X = pd.DataFrame(synth_data)
Xy = pd.concat([X, y], axis=1)

display(Xy)

/opt/conda/lib/python3.7/site-packages/sklearn/feature_extraction/text.py:17: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Mapping, defaultdict

,0,1,2,3,4,5,6,7,8,9,...,991,992,993,994,995,996,997,998,999,class
0,0.200541,0.806615,0.414863,0.221655,0.555802,0.324119,0.478767,0.823653,0.760588,0.897078,...,0.210291,0.433231,0.796971,0.465939,0.254512,0.490711,0.403956,0.653837,0.626871,1
1,0.594278,0.548739,0.666013,0.542444,0.314562,0.761089,0.618220,0.323726,0.247298,0.472423,...,0.777449,0.263697,0.576003,0.718196,0.728146,0.288143,0.408755,0.536104,0.234120,0
2,0.258976,0.348519,0.618800,0.394818,0.427244,0.346258,0.474492,0.596878,0.510647,0.312662,...,0.579756,0.658143,0.680971,0.496453,0.538998,0.686268,0.268566,0.584464,0.665756,2
3,0.502162,0.473378,0.659860,0.447638,0.522488,0.663944,0.586171,0.232034,0.341970,0.000000,...,0.381052,0.121872,0.363822,0.677039,0.735765,0.684484,0.367784,0.252551,0.158455,1
4,0.634865,0.412831,0.464771,0.655290,0.044282,0.726935,0.385599,0.497292,0.232160,0.571799,...,0.610710,0.465330,0.360677,0.378067,0.421845,0.187990,0.678120,0.575890,0.500868,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.628768,0.835318,0.585730,0.730690,0.510621,0.358508,0.000000,0.603121,0.300101,0.376937,...,0.486279,0.045210,0.720749,0.496542,0.608596,0.187076,0.345682,0.224770,0.490808,0
96,0.447029,0.757947,0.627312,0.388940,0.755324,0.915195,0.072544,0.773304,0.198974,0.612608,...,0.566790,0.538787,0.000000,0.233930,0.000000,0.499802,1.000000,0.823510,0.575741,2
97,0.617453,0.659799,0.239243,0.843562,0.172126,0.786208,0.192889,1.000000,0.749178,0.471813,...,0.457166,0.770035,0.334986,0.603181,0.189353,0.205538,0.182525,0.193749,0.699097,1
98,0.163662,0.898191,0.602276,0.570435,0.647249,0.392635,0.346667,0.347544,1.000000,0.557308,...,0.508754,0.529319,0.423154,0.324500,0.354485,0.350562,0.321427,0.538065,0.535775,0
99,0.841060,0.957059,0.238950,0.355123,0.665130,0.351113,0.456083,0.000000,0.418638,0.744740,...,0.369374,0.263477,0.693773,0.580912,0.453448,0.443829,0.558708,0.657763,0.461667,0

### Edit Below

In [3]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Problem: simple classifiers like linear regression handle poorly with datasets that have:
# - massive dimension (feature count) compared to sample size
# - few important features

pred_iterations = 30
mses = []
linreg_model = LinearRegression()
for _ in range(pred_iterations):
    X_train, X_test, y_train, y_test = train_test_split(X, y)
    linreg_model.fit(X_train, y_train)
    y_pred = linreg_model.predict(X_test)
    mses.append(mse(y_pred, y_test))

print('Linear Regression Avg MSE (Bad):', np.mean(mses))

Linear Regression Avg MSE (Bad): 0.6427702730004818

In [4]:
%matplotlib inline
from sklearn.decomposition import NMF
from sklearn.decomposition import PCA
# Solution: simple classifiers can handle these datasets better, after dimensionality reduction is applied
# If we reduce dimensions on a dataset via NMF & sklearn PCA, and then predict at each dimension drop, does lin. reg. performance increase?
min_dim = 2

dim_nmf_mses, dim_pca_mses = [], []
# Track how prediction performance differs with amount of dimensions

# for dim_num in range(100, n_features + 1):
for dim_num in range(min_dim, min(X.shape) + 1): # num of dim must be <= min dimension of our X for sklearn NMF

#     # debug print
#     print('Orig df (dim_num = ' + str(dim_num) + '):')
#     display(X)
    
    # Perform PCA and NMF on same dataset
    nmf_model = NMF(n_components=dim_num)
    X_nmftrans = pd.DataFrame(nmf_model.fit_transform(X))

#     # debug print
#     print('Dim-red df (dim_num = ' + str(dim_num) + '):')
#     display(X_nmftrans)
    
    pca_model = PCA(n_components=dim_num)
    X_pcatrans = pd.DataFrame(pca_model.fit_transform(X))
    
    nmf_mses, pca_mses = [], []
    for _ in range(pred_iterations):

        X_train, X_test, y_train, y_test = train_test_split(X_nmftrans, y)
        linreg_model.fit(X_train, y_train)
        y_pred = linreg_model.predict(X_test)
        nmf_mses.append(mse(y_pred, y_test))
        
        X_train, X_test, y_train, y_test = train_test_split(X_pcatrans, y)
        linreg_model.fit(X_train, y_train)
        y_pred = linreg_model.predict(X_test)
        pca_mses.append(mse(y_pred, y_test))

    dim_nmf_mses.append(np.mean(nmf_mses))
    dim_pca_mses.append(np.mean(pca_mses))

pd.Series(dim_nmf_mses).plot.line()
pd.Series(dim_pca_mses).plot.line()

# 

# Xy_test = abs(pd.concat([X_test, y_test], axis=1))


# nmf_preds = pd.DataFrame(W @ H)
# # getting the "y" column from the NMF prediction
# nmf_y_preds = list(nmf_preds[n_features])


# reg_model = LinearRegression().fit(X_train, y_train)
# reg_y_preds = reg_model.predict(X_test)
# # just pulling the values out since linear regression returns a list of lists
# reg_y_preds = [_[0] for _ in reg_y_preds]
# nmf_errors = []
# reg_errors = []

# y_test = list(y_test["class"])

# # getting error
# for i in range(len(reg_y_preds)):
#     reg_errors.append((y_test[i] - reg_y_preds[i]) ** 2)
#     nmf_errors.append((y_test[i] - nmf_y_preds[i]) ** 2)

# print("nmf", np.mean(nmf_errors))
# print("reg", np.mean(reg_errors))

In [36]:
# Mess around space
# # test = pd.DataFrame([[1,2,3], [2,4,5], [3,4,10]])
# test = pd.DataFrame(np.ones((300, 1000)))
# display(test)
# mdl = NMF(n_components=200)
# pd.DataFrame(mdl.fit_transform(test))

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
296,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
297,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
298,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
299,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,1.3512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.3512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.3512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.3512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.3512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.3512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296,1.3512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297,1.3512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298,1.3512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299,1.3512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Old Below

In [111]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.decomposition import NMF
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test = train_test_split(X, y)
# Using test data because that is what Linear_Regression will use in prediction
Xy = abs(pd.concat([X_test, y_test], axis=1))
nmf_model = NMF(n_components=2)
W = nmf_model.fit_transform(Xy)
H = nmf_model.components_
nmf_preds = pd.DataFrame(W @ H)
# getting the "y" column from the NMF prediction
nmf_y_preds = list(nmf_preds[n_features])


reg_model = LinearRegression().fit(X_train, y_train)
reg_y_preds = reg_model.predict(X_test)
# just pulling the values out since linear regression returns a list of lists
reg_y_preds = [_[0] for _ in reg_y_preds]
nmf_errors = []
reg_errors = []

y_test = list(y_test["class"])

# getting error
for i in range(len(reg_y_preds)):
    reg_errors.append((y_test[i] - reg_y_preds[i]) ** 2)
    nmf_errors.append((y_test[i] - nmf_y_preds[i]) ** 2)

print("nmf", np.mean(nmf_errors))
print("reg", np.mean(reg_errors))

nmf 0.9803111852183711
reg 0.7940561403538158

In [112]:
# A = pd.DataFrame(np.array([[1, 2, 3,], [4, 5, 6], [7, 8, 9], [0, 1, 0]]))
# A. columns = ["a", "b", "c"]
# from sklearn.decomposition import NMF
# y = A["c"]
# X = A.drop("c", axis=1)
# nmf_model = NMF()

# W = nmf_model.fit_transform(A)
# H = nmf_model.components_

# X_train, X_test, y_train, y_test = train_test_split(X, y)
# reg_model = LinearRegression().fit(X_train, y_train)

# display(A)
# preds = reg_model.predict(X_test)