In [50]:
import pandas as pd
import numpy as np
titanic_df = pd.read_csv(
    "https://raw.githubusercontent.com/dlsun/data-science-book/master/data/titanic.csv"
)
titanic_df = titanic_df.drop("name", axis=1)

# catagorical to quantitative

# gender
gender_catagories = pd.DataFrame(pd.get_dummies(titanic_df["sex"]))
titanic_df = titanic_df.drop("sex", axis = 1)
titanic_df= pd.concat([titanic_df, gender_catagories], axis = 1)
   
# boat
titanic_df["boat"] = titanic_df["boat"].fillna(value="No boat")
boat_catagories = pd.DataFrame(pd.get_dummies(titanic_df["boat"]))
titanic_df = titanic_df.drop("boat", axis = 1)
titanic_df= pd.concat([titanic_df, boat_catagories], axis = 1)

for col in titanic_df.columns:
    for element in titanic_df[col].unique():
        if isdigit(element) != float and type(element) != int:
            print("column " + str(col) + " conatins a non-numeric value " + str(element))
            break

column pclass conatins a non-numeric value 1
column survived conatins a non-numeric value 1
column age conatins a non-numeric value 29.0
column sibsp conatins a non-numeric value 0
column parch conatins a non-numeric value 0
column ticket conatins a non-numeric value 24160
column fare conatins a non-numeric value 211.3375
column cabin conatins a non-numeric value B5
column embarked conatins a non-numeric value S
column body conatins a non-numeric value nan
column home.dest conatins a non-numeric value St Louis, MO
column female conatins a non-numeric value 1
column male conatins a non-numeric value 0
column 1 conatins a non-numeric value 0
column 10 conatins a non-numeric value 0
column 11 conatins a non-numeric value 0
column 12 conatins a non-numeric value 0
column 13 conatins a non-numeric value 0
column 13 15 conatins a non-numeric value 0
column 13 15 B conatins a non-numeric value 0
column 14 conatins a non-numeric value 0
column 15 conatins a non-numeric value 0
column 15 16 conatins a non-numeric value 0
column 16 conatins a non-numeric value 0
column 2 conatins a non-numeric value 1
column 3 conatins a non-numeric value 0
column 4 conatins a non-numeric value 0
column 5 conatins a non-numeric value 0
column 5 7 conatins a non-numeric value 0
column 5 9 conatins a non-numeric value 0
column 6 conatins a non-numeric value 0
column 7 conatins a non-numeric value 0
column 8 conatins a non-numeric value 0
column 8 10 conatins a non-numeric value 0
column 9 conatins a non-numeric value 0
column A conatins a non-numeric value 0
column B conatins a non-numeric value 0
column C conatins a non-numeric value 0
column C D conatins a non-numeric value 0
column D conatins a non-numeric value 0
column No boat conatins a non-numeric value 0